<h2>Sign-up</h2>
	
	<%= form_for @user, :html => { :multipart => true }  do |f| %>
			  <div>
					<%= f.text_field :first_name, :placeholder => "First Name"%>
			  </div>
			  <div>
					<%= f.text_field :email, :placeholder => "Email" %>
			  </div>
			  <div>
				  <%= f.password_field :password, :placeholder => "Password" %>
			  </div>
			  <div>
			  	<%= f.submit "Sign-up"%>
			  </div>
        <% end %>