
  <div class="container">
    <ul>
        <li><%= link_to 'Home / Posts Root', root_path %></li>
        <% if current_user %>
          <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign In', sign_in_path %></li>
        <% end %>
      </ul>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
 


  <% if !current_user %>
    <p>Or Sign Up to get started.</p>
    <p>
      <%= link_to new_user_path do %>
      Sign Up &raquo;
      <% end %>
    </p>
  <% end %>
  
</div>