

  <% if current_user %>
    <div>
      <h2>Post Index</h2>
    </div>
    <p>
      <%= link_to "#{current_user.first_name}'s Profile", user_path(current_user) %>
    </p>

    <%= link_to "Add New Post", new_user_post_path(current_user) %>
    <h3>All Blog Posts</h3>
    <% @posts.each { |post| %>
    <p>
      -----------------------------
    </p>
    <p><%= link_to "See Post titled: '#{post.title}'", post_path(post) %>
    </p>
    <p>
      <%= link_to "Edit: #{post.title}", edit_post_path(post) %>
    </p>
    <p>
      <%= link_to "Delete: #{post.title}", post_path(post), method: :delete, data: {confirm: "are you sure?"} %>
    </p>
   <%}%> 
  <%end%> 
